.ios ion-item {
  --background: inherit;
  --color: inherit;
  --min-height: 70px;
  --ion-text-color-rgb: 0 0 0;
  --border-color: theme(colors.gray.500/0.5);
}

.simple .sc-ion-label-ios-s h2 {
  @apply font-semibold text-lg;
}
