.ios ion-item {
  --background: inherit;
  --color: inherit;
  --min-height: 70px;
  --ion-text-color-rgb: 0 0 0;
  --border-color: theme(colors.gray.500/0.5);
}

.budget-item .sc-ion-label-ios-s h1 {
  @apply capitalize;
}
