@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Brands;
  src: url(./assets/Font-Awesome-Brands.otf);
}

@font-face {
  font-family: Solid;
  src: url(./assets/Font-Awesome-Solid.otf);
}

@font-face {
  font-family: Regular;
  src: url(./assets/Font-Awesome-Regular.otf);
}

.Brands {
  font-family: Brands;
}

.Regular {
  font-family: Regular;
}

.Solid {
  font-family: Solid;
}