@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Brands;
  src: url(./assets/Font-Awesome-Brands.otf);
}

@font-face {
  font-family: Solid;
  src: url(./assets/Font-Awesome-Solid.otf);
}

@font-face {
  font-family: Regular;
  src: url(./assets/Font-Awesome-Regular.otf);
}

.Brands {
  font-family: Brands;
}

.Regular {
  font-family: Regular;
}

.Solid {
  font-family: Solid;
}

.theme {
  @apply bg-slate-200 text-stone-800 dark:bg-zinc-800 dark:text-neutral-200;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  @apply absolute inset-0 w-auto h-auto;
}

input[type="date"]::after {
  content: "📅";
  margin-left: 8px;
}